[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
funcy = "*"
numpy = "*"
opencv-python = "*"
tensorflow = "*"
googletrans = "*"
pytesseract = "*"
pydantic = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
